input[type='range'] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #b3b3b3, 0px 0px 1px #b3b3b3;
  border-radius: 3px;
  background: rgba(0, 0, 255, 0.7);
}

input[class='rangeRed']::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #b3b3b3, 0px 0px 1px #b3b3b3;
  border-radius: 3px;
  background: rgba(255, 0, 0, 0.7);
}

input[class='rangeGreen']::-webkit-slider-runnable-track {
  background: rgba(0, 128, 0, 0.7);
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0.5px 1px rgb(158, 158, 158);
  height: 25px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.3px;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

body {
  font-family: monospace;
  margin-top: 50px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  color: #000;
}
.content {
  padding: 1px 30px 10px 30px;
  margin: auto;
  width: min-content;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
}

.labelR {
  font-size: large;
  font-weight: bold;
  min-width: 120px;
  color: rgba(197, 1, 1, 0.7);
}

.labelG {
  font-size: large;
  font-weight: bold;
  min-width: 120px;
  color: rgba(0, 112, 0, 0.7);
}

.labelB {
  font-size: large;
  font-weight: bold;
  min-width: 120px;
  color: rgba(6, 6, 195, 0.7);
}

.range {
  min-width: 300px;
}

.text {
  margin-left: 10px;
  width: 50px;
}

.result {
  margin: 15px 10px 0px 15px;
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#divRgb {
  text-align: left;
}

#divHexa {
  text-align: right;
}

.textRgb {
  border: solid 1px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin: auto;
  height: 21px;
  width: 50%;
  font-size: medium;
  text-align: center;
}

.btnCopy {
  font-size: small;
  background-color: rgb(245, 245, 245);
  border: solid 1px rgba(0, 0, 0, 0.377);
  border-radius: 5px;
  height: 25px;
  vertical-align: top;
  border-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
}

#message,
input {
  width: 100%;
  font-family: monospace;
  margin: 6px 0 0 0;
  text-align: center;
  color: rgb(112, 112, 112);
  border: none;
  font-size: medium;
}

.show {
  visibility: visible;
}

.textHexa {
  color: rgba(0, 0, 0, 0.6);
  border: solid 1px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  margin: auto;
  height: 21px;
  width: 30%;
  font-size: medium;
  text-align: center;
}
